<?xml version="1.0"?>
<robot name="p3at" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Include accessories -->
  <xacro:include filename="$(find p3at_description)/urdf/p3at.urdf.xacro" />
  <xacro:include filename="$(find p3at_description)/urdf/rplidar_a2.urdf.xacro" />
  <!-- footprint -->
  <joint name="footprint_joint" type="fixed">
    <origin xyz="0 0 0.0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="base_footprint" />
  </joint>
  <link name="base_footprint" />
  <!--rplidar link-->
  <xacro:rplidar_a2 parent="base_link" >
    <origin xyz="0.217 0.0 0.274" rpy="0 0 ${PI}" />
  </xacro:rplidar_a2>
</robot>
