<launch>

 
  <node pkg="mick_bringup" type="mickx4_bringup_v2" name="mickx4_bringup_v2" output="screen">
 	  <param name="sub_imu_topic" value="/imu/data" type="str" />
 	  <param name="sub_cmdvel_topic" value="/cmd_vel" type="str" />
	  <param name="pub_odom_topic" value="/odom" type="str" />
	  <param name="dev" value="/dev/mick" type="str" />
	  <param name="buad" value="115200" type="int" />
	  <param name="time_out" value="1000" type="int" />
	  <param name="hz" value="100" type="int" />
	  <param name="use_imu_topic" value="true" type="bool" />
  </node>

  <!-- RplidarA3 -->
  <!--include file="$(find rplidar_ros)/launch/rplidar_a3.launch" /-->

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0 0.83 0 0 0 base_link rslidar 50" />


</launch>
