<launch>

  <node pkg="mick_robot" type="mick_robot" name="mick_robot" output="screen">
 	<param name="sub_cmdvel_topic" value="/cmd_vel" type="str" />
	<param name="pub_odom_topic" value="/odom" type="str" />
	<param name="dev" value="/dev/mick" type="str" />
	<param name="time_out" value="1000" type="int" />
	<param name="hz" value="50" type="int" />
  </node>



</launch>
